<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBC Helpdesk</title>
    <link rel="stylesheet" href="../css/guide.css">
</head>
<body>

    <!-- Top Header Section -->
    <header>
      <a href="./index.html"><div class="logo"><img src="../assets/Logo.png" alt="lo"></div></a>
      <div class="support-links">
          <a href="https://www.facebook.com/share/g/UNeFrikz8ooPnJNj/" target="_blank">
          <section class="support-box">
              <img src="../assets/facebookicon.png" alt="facebookicon" class="facebook">
          </section>
          </a>
          <a href="https://chat.whatsapp.com/Jlyxz8VIen3CYQbDs3Wbzu" target="_blank">
          <section class="support-box">
              <img src="../assets/whatsappicon.png" alt="whatsappicon" class="whatsapp">
          </section>
          </a>
          <section class="support-box">
              <img src="../assets/messengericon.png" alt="messengericon" class="messenger" title="Ask the admin to add you to the group">
          </section>
      </div>
    </header>


    <!-- Secondary Header with Navigation -->
    <nav class="main-nav">
        <a href="./highlight.html">Highlighted Books</a>
        <a href="./guide.html">Guide</a>
        <a href="./practical.html">Practical</a>
        <a href="./Contact.html">Contact Us</a>
        <!-- <input type="text" placeholder="Search" class="search-bar"> -->
    </nav>

    <!-- sub-section start from here -->

    <div class="guide-section">
        <h2>Guide PDF</h2>
        <div class="pdf-grid">
          <a href="">
            <div class="pdf-item">
              <span>Chemistry 1st</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Chemistry 2nd</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Botany</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Zoology</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Higher Math 1st</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Higher Math 2nd</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>English 1st</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>English 2nd</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Physics 1st</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Physics 2nd</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="./guide/ICT.html">
            <div class="pdf-item">
                <span>ICT</span>
                <button class="pdf-button ict-pdf">PDF</button>
            </div>
          </a>
          <a href="../pages/guide/Bangla-1st.html">
            <div class="pdf-item">
              <span>Bangla 1st</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
          <a href="">
            <div class="pdf-item">
              <span>Bangla 2nd</span>
              <button class="pdf-button">PDF</button>
            </div>
          </a>
        </div>
      </div>
      
    <!-- Footer -->
     <br>
     <br>


    <footer>
        <div>&copy; 2024 HBC Helpdesk. All rights reserved. Created by zisan8877@gmail.com</div>
    </footer>

</body>
</html>
